# Default ignored files
/../../../:FinalProject/.idea/shelf/
/../../../:FinalProject/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:FinalProject/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:FinalProject/.idea/dataSources/
/../../../:FinalProject/.idea/dataSources.local.xml
